* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary */
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);

  /* Neutral */
  --blue-950: hsl(217, 54%, 11%); /* main BG */
  --blue-900: hsl(216, 50%, 16%); /* card BG */
  --blue-800: hsl(215, 32%, 27%); /* line */
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--blue-950);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  background-color: var(--blue-900);
  width: 21.875rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.bigimg {
  width: 100%;
  height: 60%;
  border-radius: 1rem;
}
h1 {
  color: var(--white);
  font-size: 1.5rem;
  margin-top: 1rem;
}
.description {
  color: var(--blue-500);
  font-size: 1rem;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  gap: 0.5rem;
}
hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--blue-800);
}
.creator {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.lastp {
  color: var(--blue-500);
}
.lastspan {
  color: var(--white);
}
.titleeth:hover {
  color: var(--cyan-400);
  cursor: pointer;
}
.lastspan:hover {
  font-weight: bold;
  color: var(--cyan-400);
  cursor: pointer;
}
.img-container {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.bigimg {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.3s ease;
}

.img-container:hover .overlay {
  opacity: 1;
}
